body {
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    font-family: 'Roboto', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.container-options button{
    height: 60px;
    width: 120px;
    background-color: rgb(24, 177, 100);
    color: aliceblue;
    font-size: 18px;
}

.container-options button:hover {
    cursor: pointer;
    background-color: #0a6135;
    transition: 1s;
}

.score-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.score-players {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

.score {
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}

.container-winner{
    display: flex;
    justify-content: center;
}

.winner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    width: 40%;
    background-color: rgb(24, 177, 100);
    color: aliceblue;      
}
